{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {
        "no-console": 1,
        "indent": 1,
        "camelcase": 1,
        "comma-style": 1,
        "valid-jsdoc": 2
    },
    "globals": {
        "console": true,
        "document": true,
        "module": true,
        "window": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"]
}